.main-cardi {
  display: flex;
  /* margin: 0 auto; */
  /* width: 1082px; */
  margin-top: "7em";
}
/*
New stufff  */
.cardi-left {
  /* margin: 0 auto; */
  flex: 40%;
  padding: 2em;
  margin-top: "7em";
}

/* .cardi-left1 {
  grid-column-gap: 24px;
  width: 224px;
} */
.button-box {
}
.cardi-right {
  flex: 60%;
  padding: 10px;
  margin-right: 3.75em;
}

.flippy-card.flippy-front.tinycard {
  margin-top: 5em;
  margin-right: 5em;
}

.tinycard {
  background: white;
  box-shadow: -1px 1px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 20px;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tinycard1 {
  background: white;
  box-shadow: -1px 1px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 20px;

  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bigcard {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
  display: inline-block;
  margin-left: 64px;
  width: 776px;
  height: 555px;
  position: relative;
  vertical-align: top;
}

.cardi {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
  display: inline-block;
  margin-left: 64px;
  max-width: 776px;
  position: relative;
  vertical-align: top;
  width: 776px;
}
