* {
  box-sizing: border-box;
}

$accent-gray: rgba(198, 198, 198, 0.9);

$box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
$small-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
$medium-box-shadow: $box-shadow;
$large-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
$xlarge-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.25);

body {
  font-family: "Cereal-med", "Avenir";
}

form {
  display: flex;
  align-items: center;
}

.ques-wrapper {
  #question {
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
    text-align: left;
    margin-top: 125px;

    .input-wrapper {
      position: relative;
      display: inline-block;
      max-width: 1024px;
      margin-bottom: 1em;
      width: calc(100% - 5em);

      input {
        width: 100%;
        padding: 0.5em;
        padding-left: 2em;
        border: 2px solid $accent-gray;
        font-size: 1em;
        appearance: none;
        border-radius: 4px;
      }

      i {
        position: absolute;
        top: 50%;
        left: 0.75em;
        transform: translateY(-50%);
        color: $accent-gray;
      }
    }

    button {
      display: inline-block;
      position: relative;
      margin-left: 0.5em;
      padding: 0.6em 1em;
      cursor: pointer;
      user-select: none;
      appearance: none;
      overflow: hidden;
      z-index: 1;
      transition: all 0.1s;
      font-size: 15px;
      font-weight: bold;
      border: 2px solid $accent-gray;
      border-radius: 4px;
      color: darken($accent-gray, 15%);

      &:hover {
        color: white;

        &:after {
          background: $accent-gray;
          transform: translate(0%);
        }
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        transition: all 0.1s;
        z-index: -1;
      }
    }
  }
}

*,
*:before,
*:after {
}

body {
  margin: 0;
  font-family: "Cereal-med", "Avenir";
  // background-color: #f4f8fb;
  box-sizing: border-box;
}

.box {
  color: grey;
  padding: 1em;
  text-align: center;
}

input {
  width: 100%;
  padding: 1em;
  outline: none;
  border: 1px solid #f2f2f2;
  // box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}

.message-list {
  margin: 0;
  padding: 0;
}

.message-list li {
  padding: 0.2em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #f2f2f2;
  box-shadow: 0px 0.5px 3px -1px rgba(0, 0, 0, 0.2);
}

/* Our Grid Code */

.app-layout {
  margin-top: 65px;
  display: grid;
  height: 100vh;
  grid-template-columns: 100px 250px 1fr;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.header {
  background-color: #ffffff;
  margin-top: 65px;
  grid-column: 3;
  grid-row: 1;
  color: #333;
  border-bottom: 1px solid #f2f2f2;
}
.teams {
  background-color: #f1f1f1;
  margin-top: 65px;
  grid-column: 1;
  height: 100vh;
  grid-row: 1 / 4;
  // overflow-y: scroll;
}
.channels {
  background-color: #f1f1f1;
  margin-top: 65px;
  grid-column: 2;
  grid-row: 1 / 4;
  overflow-y: scroll;
  // max-height: 100%;
}
.messages {
  background-color: #ffffff;
  grid-column: 3;
  grid-row: 2;
  padding: 0 1em;
  overflow-y: scroll;
  flex: 1;
  // height: 100vh;
  overflow-y: scroll;
}
.write {
  background-color: #f2f2f2;
  margin-top: 65px;
}

.input {
  grid-column: 3;
  grid-row: 3;
}

// @media (max-width: 768px) {
//   .input {
//     display: none;
//   }
// }

//
// Messages

.avatar1 {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.message-container {
  display: flex;
  margin: 10px;
}
.message-text {
  padding-left: 10px;
}
.message-text h3 {
  font-size: 15px;
  margin: 0;
  text-transform: capitalize;
}
.message-text p {
  font-size: 15px;
  margin-top: 8px;
}

.message-text span {
  color: rgba(0, 0, 0, 0.5);
  font-weight: lighter;
}

@media (max-width: 768px) {
}

#flashcard {
  width: 500px;
  height: 300px;
  border-radius: 5px;
  background: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-left: calc(50% - 250px);
  margin-top: 100px;
  transition: 0.7s all;
  &:hover {
    cursor: pointer;
  }

  #word {
    text-align: center;
    padding-top: 100px;
    font-size: 2.5em;
  }

  #defn {
    font-family: nunito;
    font-size: 1.5em;
    padding-top: 100px;
    padding: 30px 30px;
  }
}
