.App {
  /* display: flex; */
  /* font-family: 'Nunito';
  flex-direction: column; */
  /* min-height: 100vh; */
  /* text-align: center; */
  /* font-family: "Quicksand", sans-serif; */
  font-family: "circular-book";
  font-style: normal;
  /* font-weight: 200; */
  /* position: relative;
  width: 100%;
  min-height: 100vh; */
  /* display: flex;
  flex-direction: row; */
}

button,
a,
.button,
.cursor-pointer {
  list-style-type: none;
  cursor: pointer;
}
