/* // src/components/circular-book.ttf */
@font-face {
  font-family: "Cereal-light";
  src: url("./cereal-200.ttf") format("truetype");
}
@font-face {
  font-family: "Cereal-reg";
  src: url("./fonts/cereal-300.ttf") format("truetype");
}
@font-face {
  font-family: "Cereal-med";
  src: url("./fonts/cereal-500.ttf") format("truetype");
}
@font-face {
  font-family: "Cereal-bold";
  src: url("./fonts/cereal-700.ttf") format("truetype");
}
@font-face {
  font-family: "Cereal-super-bold";
  src: url("./fonts/cereal-800.ttf") format("truetype");
}

.App {
  font-family: "Cereal-reg";
  font-style: normal;
  background-color: #f4f8fb;
}

h1 {
  font-family: "Cereal-bold";
}

button,
a,
.button,
.cursor-pointer {
  list-style-type: none;
  cursor: pointer;
}
