.dashboard {
  /* font-family: "Cereal-light"; */
  background: #f4f8fb;
  font-family: "Cereal-reg", "Avenir", sans-serif;
}
#quix-title {
  font-size: 25px;
  text-align: left;
}
h1 {
  font-size: 24px;
  align-self: center;
  color: rgb(72, 72, 72) !important;
  font-family: "Cereal-med", "Avenir", sans-serif;
  font-weight: 800;
}

h4 {
  font-size: 16px;
  font-family: "Cereal-light", "Avenir", sans-serif;
  color: rgb(72, 72, 72) !important;
}
.quizContainer {
  padding-top: 4em;
}
.start {
  background-color: #ea555c;
  padding: 12px 18px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  border: 2px solid #ea555c;
  border-radius: 5px;
}

.start:hover {
  background-color: #eca570;
  border: 2px solid #eca570;
}

.alert {
  font-family: "Cereal-light", "Avenir", sans-serif;
}

.nextBtn {
  background: #ffc334;
  border-radius: 100%;
  box-shadow: 0 -2px 0 3px #ffb401 inset, 0 5px 5px rgba(103, 73, 0, 0.17),
    0 15px rgba(255, 255, 255, 0.25) inset;
  cursor: pointer;
  display: inline-block;
  height: 75px;
  width: 75px;
  color: white;
}

@media only screen and (max-width: 205px) {
  grid-template-columns: repeat(auto-fill, 200px);
}
.card__container {
  padding-right: 2em;
  padding-left: 2em;
}
.card__inner {
  font-family: "Cereal-light", "Avenir", sans-serif;
  border-radius: 5px;
  position: relative;
  padding-right: 2em;

  margin-bottom: 30px;
  background-color: #fff;
  min-height: 148px;
  display: flex;
  box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.2);
}
.card__inner * {
  box-sizing: border-box;
}

.card__image {
  display: block;
  border-radius: 5px 0px 0px 5px;
  width: 300px;
  height: 170px;
  max-width: 100%;
  max-height: 100%;
  margin-right: 30px;
}
.card__image img {
  position: relative;
  display: block;
  left: 0;
  transform: none;

  /* max-width: 100%; */
  vertical-align: middle;
  border: 0;
}
.fx {
  flex: 1;
  min-width: 1px;
}
.card__head {
  text-align: left;
  /* padding-top: 20px; */
  margin-right: 10px;
  color: "grey";
  font-size: "12px";
}

.card__subtitle {
  text-align: left;
  font-size: 13px;
  color: #505763;
  margin: 5px 0 0;
  padding: 0;
  margin-right: 100px;
}
.right-col {
  color: #505763;
  width: 156px;
  vertical-align: top;
  text-align: right;
  position: absolute;
  right: 25px;
  bottom: 15px;
  display: flex;
  flex-direction: column;
}

/*
 ***** General QUIZ INFO CARD GRIDDD *****
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* body {
  padding-top: 48px;
  padding-bottom: 48px;
  font-family: "Avenir";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/*
 * Course card
 */
.main-card-container {
  padding-top: "5em";
  max-width: 1500px;
  margin: 0 auto;
}

.quiz-cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards-item {
  display: flex;
  padding: 1rem;
}

.course-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 25rem;
  height: 30rem;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.23);
}

/* Card header */
.card-header {
  width: 100%;
  height: 100px;
  padding: 1em;
  background-image: url("");
  background-size: 100% 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: white;
  h1 {
    position: relative;
    top: 45%;
    z-index: 10;
    color: white;
  }
}

/* .course-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.5px;
  color: #fff;
} */

/* Card body */
.card-body {
  display: block;
  padding: 40px;
  color: #759790;
}

.course-description {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 0.85em;
}

.course-author,
.course-attributes {
  display: inline-block;
  height: 72px;
  vertical-align: middle;
}

.course-author {
  width: 116px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-right: -4px; /* Remove inline-block auto whitespace */
}

.author-photo {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin-right: 12px;
  vertical-align: middle;
}

.author-name {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 1;
  vertical-align: middle;
}

.course-attributes {
  padding: 12px 0 12px 24px;
  font-size: 14px;
  border-left: 1px solid #e3e3e3;
}

.course-duration {
  height: 16px;
  margin-bottom: 16px;
}

.course-likes {
  height: 16px;
  font-weight: 300;
}

.course-attributes .icon-time,
.course-attributes .icon-heart {
  display: inline-block;
  float: left;
  margin-right: 4px; /* 8-4px to compensate for inline-block auto whitespace */
  vertical-align: middle;
}

.course-attributes .text {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 16px;
  vertical-align: middle;
  float: left;
}

/* Card footer */
.card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 72px;
  padding-top: 22px;
  padding-bottom: 22px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #3ec4ff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: background-color 0.1s linear;
}

.card-footer:hover {
  background-color: #5ff2d2;
}

.card-footer .icon-play {
  display: inline-block;
  height: 28px;
  margin-right: 4px;
  vertical-align: middle;
}

.card-footer .text {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  vertical-align: middle;
}
