.dashboard {
  /* font-family: "Cereal-light"; */
  background: #f4f8fb;
  font-family: "Cereal-reg";
}
#quix-title {
  font-size: 25px;
  text-align: left;
}
h1 {
  font-size: 24px;
  align-self: center;
  color: rgb(72, 72, 72) !important;
  font-family: "Cereal-bold";
  font-weight: 800;
}

h4 {
  font-size: 16px;
  font-family: "Cereal-light";
  color: rgb(72, 72, 72) !important;
}
.quizContainer {
  padding-top: 100px;
}
.start {
  background-color: #ea555c;
  padding: 12px 18px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  border: 2px solid #ea555c;
  border-radius: 5px;
}

.start:hover {
  background-color: #eca570;
  border: 2px solid #eca570;
}

.alert {
  font-family: "Cereal-light";
}

.nextBtn {
  background: #ffc334;
  border-radius: 100%;
  /* box-shadow: 0 -2px 0 3px #ffb401 inset, 0 5px 5px rgba(103, 73, 0, 0.17),
    0 15px rgba(255, 255, 255, 0.25) inset; */
  cursor: pointer;
  display: inline-block;
  height: 75px;
  width: 75px;
  color: white;
}

.card__container {
  padding-right: 30px;
  padding-left: 30px;
}
.card__inner {
  font-family: "Cereal-light", sans-serif;
  /* border: 1px solid white; */
  border-radius: 8px 8px 8px 8px;
  position: relative;
  padding-right: 30px;
  margin-bottom: 30px;
  background-color: #fff;
  min-height: 148px;
  display: flex;

  box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.2);
}
.card__inner * {
  box-sizing: border-box;
}
.card__image {
  display: block;
  border-radius: 6px 0px 0px 6px;
  width: 275px;
  margin-right: 30px;
}
.card__image img {
  position: relative;
  display: block;
  left: 0;
  transform: none;

  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}
.fx {
  flex: 1;
  min-width: 1px;
}
.card__head {
  padding-top: 10px;
  margin-right: 10px;
}
.card__head a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
  color: #29303b;
  margin: 0;
  margin-top: 5px;
  line-height: 18px;
}

.middle-col {
  text-align: left;
  flex: 1;
  min-width: 1px;
  padding: 0 30px 0 0;
}
.card__instructor {
  text-align: left;
  font-size: 15px;
  padding: 0;
  margin: 4px 0 0;
  overflow: visible;
  max-width: 100%;
  color: #686f7a;
  text-decoration: none;
}
.card__subtitle {
  text-align: left;
  font-size: 13px;
  color: #505763;
  margin: 5px 0 0;
  padding: 0;
  margin-right: 100px;
}
.right-col {
  color: #505763;
  width: 156px;
  vertical-align: top;
  text-align: right;
  position: absolute;
  right: 25px;
  bottom: 15px;
  display: flex;
  flex-direction: column;
}

.options__container {
  display: grid;
  margin: 25px 25px 25px 25px;
  padding: 10;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fill, 100px);
  justify-content: space-evenly;
  align-content: flex-start;
  @media only screen and (max-width: 205px) {
    grid-template-columns: repeat(auto-fill, 200px);
  }
}

.options__card {
  background-color: white;
  box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 5px;
}
