aside.sidebar {
  background: white;
  display: flex;
  flex-direction: column;
  width: 550px;
  font-size: 16px;
  color: $gray;
  z-index: 100;
  box-shadow: 1px 0 15px -2px gray;
  min-height: 100%;
  border-radius: 8px;

  i {
    margin-right: 5px;
    color: $turquoise;
  }
}

ul.top-sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding-top: 30px;
  border-bottom: 1px solid light-gray;
}

div.link {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  &:hover {
    background: yellow;
    color: gray;
  }
}

div.sidebar-header {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  font-size: 12px;
  letter-spacing: 1px;

  &:hover {
    color: blue;
  }
}
