html {
  height: 100%;
}

.MuiTypography {
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.875rem;
  font-weight: 400;
  font-family: "Cereal-light", "Helvetica", "Arial", sans-serif;
  line-height: 1.46429em;
}

main {
  font-family: "Cereal-reg";
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  width: 100vhm;
}

aside {
  flex-basis: 18rem;
  font-family: "Cereal-reg";
  flex-grow: 1;
  height: 100%;
  /* padding: 2em; */
  background-color: white;
  /* position: fixed; */
  color: grey;
  border-radius: 3px;
  margin: 18px 25px 25px 45px;
  /* float: left; */
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  padding: 0px 0 0 0;
}

.section {
  padding: 1rem;
  margin: 1rem 4rem 1.5rem 2rem;
  min-width: 50%;
  background-color: white;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  flex-grow: 400;
  flex-basis: 10;
  position: relative;
  border-radius: 3px;
}

#side {
  background-color: #3ec4ff;
  height: 100%;
  color: white;
  font-weight: 800;
  font-size: 25px;
  border-radius: 5px 5px 0px 0px;
  margin: 0px;
  padding: 0.5em;
}
