.Sidebar {
  border-right: 2px solid #e7e7e7;
  display: flex;
  flex: 1;
  margin-left: 25px;
}




.ProblemList {


  justify-content: center;
  margin-right: 30px;
  padding-top: 25px;

}


.problemBtn {

  padding: 15px 25px;
  font-family: "Quicksand";
  font-size: 15px;
  font-weight: bold;
  border-radius: 6px;
  text-align: center;
  background-color: #d90;
  color: white;
  width: 100%;
  table-layout: fixed;
}

.problemBtn:hover {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}
